@{
    var title = "About";
}

<hgroup class="title">
    <h1>@title</h1>
</hgroup>

<article>
    <p>
        This application is meant to help us gauge your ability for the position you're applying for.
    </p>

    <p>
        Take your time and focus on the things that seem natural to you.
    </p>

    <p>
        Feel free to make any changes to the source code, at any level. C#, .css, .js, etc...
    </p>
    <p>
        If you have any questions please ask the receptionist to get NAMEOFSOMECONTACTPERSON for you
    </p>
    <p>
        If you have any questions please ask the receptionist to get NAMEOFSOMECONTACTPERSON for you
    </p>
</article>