@{
    var title = "Contact";
}

<hgroup class="title">
    <h1>@title</h1>
</hgroup>

<section class="contact">
    <header>
        <h3>Phone</h3>
    </header>
    <p>
        <span class="label">Main:</span>
        <span>952.985.7200</span>
    </p>
    <p>
        <span class="label">Toll Free:</span>
        <span>800.473.4934</span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>Email</h3>
    </header>
    <p>
        <span class="label">Software Manager:</span>
        <span><a href="mailto:bfury@verifiedcredentials.com">bfury@verifiedcredentials.com</a></span>
    </p>
    <p>
        <span class="label">Support:</span>
        <span><a href="mailto:solutions@verifiedcredentials.com">solutions@verifiedcredentials.com</a></span>
    </p>
</section>

<section class="contact">
    <header>
        <h3>WebSite</h3>
    </header>
    <p>
        <span class="label">Home Page:</span>
        <span><a href="http://www.verifiedcredentials.com/">VerifiedCredentials.com</a></span>
    </p>
    <p>
        <span class="label">Lead Software Developer:</span>
        <span><a href="https://www.linkedin.com/in/joboleg">Website</a></span>
    </p>
 
</section>

<section class="contact">
    <header>
        <h3>Address</h3>
    </header>
    <p>
        Verified Credentials<br/>
        20890 Kenbridge Court<br/>
        Lakeville, MN 55044
    </p>
</section>