<div>
    <h1>C# Questions</h1>
    <h2>Currency Conversion Section</h2>
    <br/>
    <div>
        
        <span style="font-size: 20px" >Convert</span>
        <input id="leftBox" type="text" style="width: 125px" />
        <select id="leftSelect">
            <option value="BR">Belarusian Ruble</option>
            <option value="KES">Kenyan Shilling</option>
            <option value="USD">U.S. Dollars</option>
        </select>
        <span style="font-size: 20px">To</span>

        <input id="rightBox" type="text" style="width: 125px" />
        <select id="rightSelect">
            <option value="BR">Belarusian Ruble</option>
            <option value="KES">Kenyan Shilling</option>
            <option value="USD">U.S. Dollars</option>
        </select>

        <button id="Convert">Convert</button>
        
    </div>
</div>