@model ScreeningApp.ViewModels.CSharpViewModel

<div>
    <h1>C# Questions</h1>
    <h2>Currency Conversion</h2>
    <ul>
        <li style="font-size: 24px">Try out some different combinations. Is anything broken? Can anything be improved.</li>
    </ul>
    <br/>
    <div id="errorContainer" class="errorContainer" style="visibility: hidden">
        <span class="errorMessage"></span>
        
    </div>

    <div>
        <span style="font-size: 20px" >Amount:</span>
        <input id="leftBox" type="text" style="width: 125px" />
        <div>
            <span style="font-size: 20px">From:</span>
            @Html.DropDownList("currencyTypes", null, new { @id = "convertFrom", @class = "fromDropDown" })
        </div>
        <div>
            <span style="font-size: 20px">To:</span>
            @Html.DropDownList("currencyTypes", null, new { @id = "convertTo", @class = "toDropDown" })
        </div>
    </div>
    <div>
        <br/><br/>
        <button id="ConvertCurrencyBtn" class="customButton">Convert</button>
    </div>
    <div id="conversionDisplayArea" style="visibility: hidden">
        <span id ="baseValue" style="font-size: 24px"></span>
        <span id="baseCurrency" style="font-size: 24px"></span> 
        <span style="font-size: 24px">=</span>
        <span id="convertedValue" style="font-size: 24px"></span>
        <span id="newCurrency" style="font-size: 24px"></span>
    </div>
</div>