<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/Scripts/TinyMce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "#mytextarea"
        });
    </script>
</head>
<body>
    <h1>TinyMCE Getting Started Guide</h1>
    <form method="post">
        <textarea id="mytextarea"></textarea>
    </form>
</body>
</html>



<div>
    <h1>JavaScript Questions</h1>
</div>
@*<iframe frameborder="0" src="javascript:;" style="border: 0px; width: 100%; height: 100%; display: block;">*@
    @*<head>
        <meta http-equiv="X-UA-Compatible" content="IE=EmulateIE7">
        <link rel="stylesheet" type="text/css" href="Scripts/Lib/CodeMirror-1.0/css/xmlcolors.css">
        <script type="text/javascript" src="Scripts/Lib/CodeMirror-1.0/js/codemirror-basecombined.min.js"></script>
    </head>
    <body style="border-width: 0px; white-space: nowrap;" class="editbox" spellcheck="false">
        <span class="xml-comment">&lt;!-- This is a *view* - HTML markup that defines the appearance of your UI --&gt;</span><br><br><span class="xml-punctuation">&lt;</span><span class="xml-tagname">p</span><span class="xml-punctuation">&gt;</span><span class="xml-text">First name: </span><span class="xml-punctuation">&lt;</span><span class="xml-tagname">strong</span><span class="xml-punctuation">&gt;</span><span class="xml-text">todo</span><span class="xml-punctuation">&lt;/</span><span class="xml-tagname">strong</span><span class="xml-punctuation">&gt;</span><span class="xml-punctuation">&lt;/</span><span class="xml-tagname">p</span><span class="xml-punctuation">&gt;</span><br><span class="xml-punctuation">&lt;</span><span class="xml-tagname">p</span><span class="xml-punctuation">&gt;</span><span class="xml-text">Last name: </span><span class="xml-punctuation">&lt;</span><span class="xml-tagname">strong</span><span class="xml-punctuation">&gt;</span><span class="xml-text">todo</span><span class="xml-punctuation">&lt;/</span><span class="xml-tagname">strong</span><span class="xml-punctuation">&gt;</span><span class="xml-punctuation">&lt;/</span><span class="xml-tagname">p</span><span class="xml-punctuation">&gt;</span><br>
    </body>*@
@*<textarea rows="30" style="width: 1000px; float: left">
    happy face
</textarea>*@
@*</iframe>*@


@*<script src="~/Scripts/TinyMce/tinymce.min.js"></script>*@