<!DOCTYPE html>
<html>
<head>
    <script type="text/javascript" src="~/Scripts/TinyMce/tinymce.min.js"></script>
    <script type="text/javascript">
        tinymce.init({
            selector: "#mytextarea",
            menubar: false,
            toolbar: false,
            min_height: 650,
            min_width: 900,
            setup : function(ed)
            {
                ed.on('init', function() 
                {
                    this.execCommand("fontName", false, "tahoma");
                    this.execCommand("fontSize", false, "22px");
                });
            },
            statusbar: false
        });
    </script>
</head>
<body>
    <h1>JavaScript Questions</h1>
    <form method="post">
        <textarea id="mytextarea">
            Here is some simple javascrit
        </textarea>
    </form>
</body>
</html>